name: Deploy

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout self
        uses: actions/checkout@v6.0.0

      - name: Setup Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: '3.14'
          cache: 'pip'

      - name: Install dependencies
        run: pip install -r requirements.txt
      
      - name: Build Sphinx
        run: make html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: build/html

  deploy:
    needs: build

    permissions:
      pages: write
      id-token: write

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to pages
        uses: actions/deploy-pages@v4.0.5
